h3.text-center {
    font-size: 30px;
    opacity: 0.5;
    color:#17a2b8; 
}

.text-tagline {

    opacity: 0.5;
    color:rgba(89, 93, 90, 1); 
    padding-left: 25px;
}


.icon-container  {

    display: inline-block;
    
    padding-left: 40%;
}

.icon-container .icon-class i.fa.fa-list-alt {
    vertical-align: middle;
    font-size: 60px;
    color: #17b8aaa1;
    padding-left: 40%;
}
.icon-class {
    vertical-align: middle;
    font-size: 40px;
}