

.input-group {
    padding: 25px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.input-group h3 {
    color: #374041;
}

li.hover-cursor {
    cursor: pointer;
    margin: 2px;
}

header.input-group {
    display: inline-block;
}


li.list-group-item.completed label {
    text-decoration: line-through;
    color: rgba(46, 21, 78, 0.589);
    
}

.add-task {
    padding: 25px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.add-task .btn{
    margin-left: 30%;
}
li.list-group-item {
    overflow: auto;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5px;
}

label {
    color:#3e4548ed;
    margin-left: 10px;
}
.text-center {
    margin-bottom: 20%;
    margin-top:20%;
    opacity: 0.5;
    color:#17a2b8; 
}




 ::placeholder {
    color:#3e4548ed ;

}

::text {
    color: #3e4548ed;
}

.form-control {
    margin-bottom: 10px; 
}

.btn {
    margin-left: 30%;
}

.main li.list-group-item .hover-cursor {
    cursor: pointer;
    margin-left: 5%;
}

.edit-task {
    padding: 25px;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}
h3 {
    margin-left: 40%;
}

li.list-group-item .displayTitle {
    font-weight: bold;
}

li.list-group-item .description {
    font-weight: lighter;
    padding-left: inherit;
    font-style: italic;
}

li.list-group-item .due {
    font-weight: lighter;
    padding-left: 35%;
    font-size: .8em;

}

li.list-group-item label {
    display: inline-block;
}



.fa {
    
    color: black;
    
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    
    cursor:pointer;
}